body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#adoption-section {
    text-align: center;
    padding: 20px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#adopt-form-container,
#giveaway-form-container,
#pets-list-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#view-pets-button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #008CBA;
    border: 1px solid #008CBA;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#view-pets-button:hover {
    background-color: #00678e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

